/* Register.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.register-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(to right, #3498db, #2980b9); /* Gradient Background */
  color: white; /* Text color */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
}

input {
  width: calc(100% - 24px);
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent input background */
  color: white; /* Text color */
  font-size: 16px;
  outline: none;
}

button {
  width: calc(100% - 24px);
  background-color: #2ecc71;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
  background-color: #27ae60; /* Darker shade on hover */
}

.error-message {
  color: red;
  margin-top: 20px;
  font-size: 14px;
}

.login-link {
  color: #0056b3; /* Darker login text color */
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
  display: inline-block;
}

.login-link:hover {
  color: #003366; /* Darker shade on hover */
}